<div style="width:300px;">
  <form [formGroup]="passwordForm">
    <!-- Old password -->
    <div class="form-group">
      <label for="old-password">Old Password</label>
      <input 
        formControlName="oldPassword"
        type="password" 
        id="old-password" 
        class="form-control">
      <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
          <div *ngIf="oldPassword.errors.required">
            Old password requred.
          </div>
          <div *ngIf="oldPassword.errors.invalidOldPassword">
            Invalid old password.
          </div>
      </div>
    </div>
    <div formGroupName="newPasswords">
        <!-- New Password -->
        <div class="form-group">
          <label for="new-password">New Password</label>
          <input 
            formControlName="newPassword"
            type="password" 
            id="new-password" 
            class="form-control">
          <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
            New Password required.
          </div>
        </div>
        <!-- Repeat New Password -->
        <div class="form-group">
          <label for="new-password-repeat">Repeat New Password</label>
          <input 
            formControlName="newPasswordRepeat"
            type="password" 
            id="new-password-repeat" 
            class="form-control">
          <div *ngIf="newPasswordRepeat.touched && newPasswordRepeat.invalid" class="alert alert-danger">
            Repeat New Password required.
          </div>
        </div>
        <div *ngIf="newPasswords.errors && newPasswords.errors.passwordsDoNotMatch" class="alert alert-danger">
          The Passwords do not match
        </div>
    </div>
  </form>
</div>